.carousel-caption {

    margin: 1%;
    margin-bottom: 14%;
}

.card-body {
    align-items: center !important;
}

h5.card-title {
    margin: 0px !important;
}

p.card-text {
    margin: auto !important;
}

p.text-primary.fw-bold {
    margin: 0px !important;
}

.mt-n1 {
    margin-top: -0.25rem !important;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    padding: 0px !important;
}

.row>* {
    padding-right: 0px !important;
}